#rest_of_page
{
	margin-top:100px;

	/*background-image: linear-gradient(to left, #FFFFFF 0%, #C7C7C7 190%);*/
	/*background-color:#F6F6F2;*/
	/* background-image:url(images/page_1_bg1.jpg); */
}

#main_image_area
{

	color:green;
	width:100%;
	height:560px;
}

.myslides 
{
	
	border-top: #990000 solid 9px ;
	/* margin: 0 100px; */
	height:560px;  
	width:auto;
	/* border-left:solid #AD3333 10px;
	border-right:solid #AD3333 10px; */
}  

.myslides img
{
	height:100%;  
	width:100%;
	/* border: solid white 8px; */
}

.h2_area
{
	/*border-top: solid #990000 20px;
	/* border-image:linear-gradient(to right, #CF0000 0%, #990000 100%); */
	background-size:cover;
}
.h2_area h2
{
	background-image:linear-gradient(#990000, #6B0000);
	/* background-color:#990000; */
	margin:0;
	padding:15px 100px 10px 100px;
	color:white;
	font-size:40px;
	
}
#footer
{
/*	background-image: linear-gradient(to top, #FFFFFF 0%, #C7C7C7 150%);
	border-top: #990000 solid 9px ;
*/	margin-top: 100px;
	height:100px;
}

#footer h2
{
	background-color:black;
	color:white;
}
#map_canvas
{
	margin: 40px 100px 0px 0px;
	width: 600px;
	height: 360px;
	background-color: #CCC;
	float: right;
	box-shadow: 1px 1px 5px 1px;
/*	box-shadow: 2px 2px 25px 1px;
*/	z-index:9;
}
#map_canvas #info_window
{
	font-family:"Times New Roman", Times, serif;
	width:102px;
	height:auto;
}
#phone_number_area
{
	display: inline;	
	font-size: 30px;
	position:relative;
	top:-70px;
	color:#990000;
	padding:10px;
}

