#rest_of_page
{
	margin-top:100px;

	/*background-image: linear-gradient(to left, #FFFFFF 0%, #C7C7C7 190%);*/
	/*background-color:#F6F6F2;*/
	/* background-image:url(images/page_1_bg1.jpg); */
}

#main_image_area
{

	color:green;
	width:100%;
	height:580px;
}

.myslides 
{
	
	/* margin: 0 100px; */
	height:580px;  
	width:auto;
	/* border-left:solid #AD3333 10px;
	border-right:solid #AD3333 10px; */
}  

.myslides img
{
	height:100%;  
	width:100%;
	/* border: solid white 8px; */
}

.h2_area
{
	border-top: solid #990000 20px;
	/* border-image:linear-gradient(to right, #CF0000 0%, #990000 100%); */
	background-size:cover;
}
.h2_area h2
{
	background-image:linear-gradient(#990000, #6B0000);
	/* background-color:#990000; */
	margin:0 0 50px 0;
	padding:0 100px;
	color:white;
	font-size:50px;
	
}
.h2_area p
{
	padding: 0 100px;
}

.h2_area h3
{
	padding: 0 100px;
}
#footer
{
	clear:both;
	display:block;
/*	background-image: linear-gradient(to top, #FFFFFF 0%, #C7C7C7 150%);
*/
}

#footer h2
{
	background-color:black;
	color:white;
}
#map_canvas
{
	margin: 0px 100px 0px 0px;
	width: 600px;
	height: 350px;
	background-color: #CCC;
	float: right;
	border: 2px black solid;
}
#phone_number_area
{
	display: inline;	
	font-size: 30px;
	position:relative;
	top:-70px;
	color:#990000;
	padding:10px;
}

